.signal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  min-height: 100vh;
  background: #59A0D5;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;


  &_box {
    width: 420px;
    height: 750px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 20px;
    align-items: center;
    background-color: #F4F3F8;
  }


  &_circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    img {
      width: 65px;
      padding: 12px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }


    .selectImg {
      width: 90px;
      margin: -10px;
    }
  }


  &_bottomSec {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    height: 280px;

    img {
      width: 60px;
      margin: 5px 0;
    }
  }


  &_text {
    text-align: center;

    button {
      background-color: #2C2BCF;
      color: white;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 14px 120px;
      margin-top: 40px;
      transition: 0.3s ease-in;
    }

    button:hover {
      background-color: #2424b3;
    }

    .name {
      font-size: 16px;
      font-weight: 600;
      margin: 6px 0;
      font-weight: bold;
      color: black;
    }

    .phone {
      color: #636363;
    }
  }


  @media (max-width: 500px) {
    &_box {
      width: 100%;
    }
  }
}